
@import '../../shared-styles/variables';

.countButton {
  display: inline-block;
  position: relative;
  margin: 0 4px 4px 0;
  padding: 12px 14px 12px 14px;
  color: rgb(0, 0, 0);
  line-height: 1.8571428571;
  text-decoration: none !important;
  text-transform: uppercase;
  background: 0 0;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  z-index: 0;
  transition: color 250ms ease,opacity 250ms ease;
  user-select: none;
  font-size: 14px;
  font-weight: bold;
}
.inProgress {
  padding-left: 32px;
}
.inProgress:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 14px;
  left: 6px;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 0.3em solid rgba(0, 0, 0, 0.2);
  border-right: 0.3em solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.3em solid rgba(0, 0, 0, 0.2);
  border-left: 0.3em solid #333;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
  color: red;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
